/* Basic Font Stylings And borderBoxing for all */

* {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* Root Directory */

:root {
    --clr-accent: #000000;
    --clr-accent-light: #E40256;
    --ff--accent: 'Poppins', sans-serif;
    --clr-light: #FFFFFF;
    --clr-txt-light: #7F7F7F;
    --clr-dark: #1C1D21;
    --fs-h1: 2.5rem;
    --fs-txt: 1.3rem;
    --fs-txt-sm: 1.1rem;
    --fs-h2: 2rem;
    --fw-h1: 500;
    --fw-reg: 500;
    --fw-bold: 700;
}

/* Removing Body default styles */

body {
    padding: 0;
    margin: 0;
}

/* Header Section Styles All */

header {
    background: transparent;
    display: flex;
    justify-content: space-between;
    padding: 8px 20px;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
    transition: all .5s ease;
}

header div a img {
    width: 25px;
}

header div a h1 {
    margin: 0;
    padding: 0;
    color: var(--clr-light);
    display: inline-block;
}

header div a {
    text-decoration: none;
}
header nav {
    background: white;
}
/* Shrinked Navigation Bar styles (Header) */

.shrinked {
    padding: 4px 20px;
    background: var(--clr-accent);
    border-bottom: 2px solid var(--clr-light); 
}

header div a .logo {
    max-width: 120px;
}

header .nav__main {
    list-style: none;
    display: block;
}

header .nav__main__item {
    display: inline-block;
    padding: 0 0.5em;
    position: relative;
}

header .nav__main__item a {
    text-decoration: none;
    color: var(--clr-light);
    font-weight: var(--fw-reg);
    font-size: var(--fs-txt);
}

header .nav__main__item a:hover {
    color: var(--clr-light);
}

.hamburger__container {
    cursor: pointer;
    display: none;
    z-index: 30000;
}

/* Mobile Responsive Media Querries */

@media (max-width: 900px) {
    header .nav__main {
        display:none;
    }

    .hamburger__container {
        display: block;
    }

    header {
        justify-content: space-between;
        padding: 4px 20px;
        border-bottom: 2px solid var(--clr-light); 
    }

}

@media (min-width: 900px) {
    .nav__mobile.open {
        display: none;
    }
}

@media (max-width: 400px) {
    .intro__carousel .intro__text {
        margin-top: 10vh;
    }

    .intro__carousel h1 {
        font-size: var(--fs-h2);
    }
}

.hamburger {
    width: 3em;
    height: 6px;
    background: var(--clr-light);
    transition: all 0.5s ease;
    position: relative;
}

.hamburger:focus {
    background: none;
}

.hamburger::after, .hamburger::before {
    content: '';
    width: 3em;
    height: 6px;
    background: var(--clr-light);
    transition: all 0.5s ease;
    position: absolute;
}

.hamburger::after {
    transform: translateY(10px);
}

.hamburger::before {
    transform: translateY(-10px);
}

.hamburger__container.open .hamburger {
    background: rgba(0, 0, 0, 0);
}

.hamburger__container.open .hamburger::before {
    transform: rotate(45deg);
}

.hamburger__container.open .hamburger::after {
    transform: rotate(135deg);
}

/* Mobile Nav Style  */

.nav__mobile {
    position: fixed;
    top: 60px;
    left: 30%;
    bottom: 0;
    right: 0;
    background: var(--clr-accent);
    z-index: 2000;
    overflow-y:scroll;
    border-left: 2px solid var(--clr-light);
    transform: translateX(100%);
    transition: all .5s ease;
    border-bottom: 30px solid grey;
}

.nav__mobile.open {
    transform: translateX(0);
}

.nav__mobile__main {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav__mobile__main__item a {
    text-decoration: none;
    color: var(--clr-light);
    width: 100%;
    font-size: 1rem;
    transition: all .3s ease;
}

.nav__mobile__main__item {
    width: 100%;
    padding: 0.5em 1em;
    border-bottom: 1px solid var(--clr-light);
}

.nav__mobile__main__item:hover a {
    opacity: 0.7;
    padding-left: 10px;
}

.nav__mobile__main__item:active a {
    opacity: 0.7;
    padding-left: 10px;
}

.nav__mobile__main__item.sub-item a{
    max-height: 0;
    overflow: hidden;
    transition: all .3s ease;
}

.nav__mobile__main__item.sub-item.open {
    max-height: 1000;
}

/* Submenu Styles */

header .nav__main__item .submenu {
    padding: 0;
    list-style: none;
    background: white;
    position: absolute;
    left: 50%;
    margin-top: 10px;
    width: 200px;
    transform: translate(-50%, 20px);
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;
}

header .nav__main__item .submenu .submenu__item .sublinks {
    color: var(--clr-accent);
    font-weight: var(--fw-reg);
    font-size: var(--fs-txt-sm);
    position: relative;
}

header .nav__main__item .submenu .submenu__item {
    width: 100%;
    padding: .25em 1em;
    transition: all 0.3s linear;
}

header .nav__main__item .submenu .submenu__item:hover {
    background: var(--clr-accent);
    padding-left: 1.5em;
}

header .nav__main__item .submenu .submenu__item:hover a {
    color: var(--clr-light);
}

header .nav__main__item.dropdowns:hover .border__bottom {
    width: 100%;
}

header .nav__main__item a:hover .border__bottom {
    width: 100%;
}

.border__bottom {
    position: absolute;
    height: 2px;
    background: var(--clr-accent-light); 
    transition: all 0.3s ease;
    bottom: 0;
    width: 0;
    left: 0;
}

header .nav__main__item.dropdowns:hover .submenu {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 0);
}

header .nav__main__item.dropdowns .submenu__arrow i {
    transition: all 0.3s ease;
    transform: rotate(0deg);
}

header .nav__main__item.dropdowns:hover .submenu__arrow i {
    transform: rotate(-90deg);
}

.intro__carousel {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: var(--clr-light);
    position: relative;
    min-height: 100vh;
}

.background {
    height: 100%;
    width: 100%;
    position: absolute;
    background: var(--clr-accent);
    opacity: 0.5;
}

.intro__carousel .intro__text {
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
}

.intro__carousel h1 {
    margin: 1em ;
    max-width: 1000px;
    font-size: var(--fs-h1);
    font-family: var(--ff--accent);
}

.intro__carousel p {
    font-size: var(--fs-h2);
}

.products, .services {
    text-align: center;
    padding: 1em 0;
}

.products {
    background: #F5F5F5;
}

h1.styled {
    font-size: var(--fs-h1);
    font-weight: 600;
    margin: .5em 0;
}

hr.styled {
    max-width: 20%;
    border: none;
    background: var(--clr-accent-light);
    height: 5px;
    margin: .5em auto;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.cards__item {
    flex-basis: 25%;
    max-width: 50%;
    min-width: 310px;
    padding: 1em;
    box-shadow: 1px 1px 5px;
    box-shadow: 1px 3px 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cards__item p {
    font-family: var(--ff--accent);
    padding: .5em;
    font-size: var(--fs-h2)
}

.cards__item i {
    color: var(--clr-accent-light);
}

@media (max-width: 1000px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }

    .cards__item {
        width: 60%;
        margin: .5em;
    }
}

.products__list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    flex-wrap: wrap;
}

.products__item {
    flex-basis: 200px;
    padding: 1em;
    margin: .5em;
    font-family: var(--ff--accent);
    position: relative;
    min-height: 300px;
    background: white;
    transition: all .5s ease;
}

.products__item:hover {
    box-shadow: 1px 1px 5px;
    box-shadow: 1px 3px 7px;
}

.products__item img {
    width: 200px;
    max-height: 200px;
}

.products__item .product-name {
    font-weight: var(--fw-bold);
}

.products__item .product-price {
    color: var(--clr-accent-light);
}

.products__item .details {
    font-size: var(--fs-txt);
    width: 100%;
    color: #000000;
}

.products__item a {
    text-decoration: none;
}


footer {
    background: #394140;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer img {
    width: 200px;
}

footer .socials {
    list-style: none;
    color: var(--clr-accent-light);
    display: flex;
    margin: .5em 0;
}

footer .socials .socials__item {
    padding: 1em;
    background: #000000;
    margin: 0 1em;
    transition: transform .3s ease;
}

footer .socials .socials__item:hover, footer .socials .socials__item:focus-within {
    transform: scale(1.1)
}

footer .socials .socials__item a {
    color: var(--clr-accent-light);
}

footer p {
    margin: 1em 0;
    font-size: var(--fs-txt);
    color: var(--clr-txt-light)
}